.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pageContainer {
  display: flex;
  align-items: start;
}

.title {
  font-size: 40px;
  margin-bottom: 50px;
}

.matchingSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* 各要素の間隔 */
}

.passwordInput {
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px; /* or any desired maximum width */
}

.matchingButton,
.cancelButton,
.createRoomButton,
.searchRoomButton {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 400px; /* ensuring consistent button widths */
}

.matchingButton {
  background-color: #007bff;
  color: white;
}

.createRoomButton {
  margin-top: 20px;
  background-color: #28a745; /* Green for creation */
  color: white;
}

.searchRoomButton {
  background-color: #ffc107; /* Yellow for search */
  color: black;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
}

.matchingStatus {
  font-size: 20px;
}

.backButton {
  margin-top: 50px;
  color: #007bff;
  text-decoration: none;
  font-size: 20px;
}

.backButton:hover {
  text-decoration: underline;
}

.roomMessage {
  font-weight: bold;
  color: green;
  margin: 10px 0;
}
