.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); /* 160px はマージンの値です。 */
  padding-top: 160px;
}

.title {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

.battleButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.battleButton:hover {
  background-color: #555;
}
