.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  padding-top: 160px;
}

.title {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.title:hover {
  transform: scale(1.05);
}

.description {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  width: 70%;
}

.buttons {
  margin-top: 20px;
}

.buttonBase {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.buttonBase:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.loginButton,
.matchingButton {
  background-color: #333;
  color: white;
}

.loginButton {
  background-color: #007bff;
}

.matchingButton {
  padding: 15px 30px;
  margin-top: 30px;
  font-size: 24px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.battleButton:hover,
.loginButton:hover,
.signupButton:hover {
  background-color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
  .title {
    font-size: 60px;
  }

  .description {
    font-size: 16px;
    width: 90%;
  }

  .buttonBase {
    padding: 8px 16px;
    margin: 8px;
  }
  .matchingButton {
    padding: 10px 25px;
    font-size: 20px;
  }
}
