.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.5) var(--black-percentage),
    rgba(0, 0, 255, 0.5) var(--black-percentage),
    rgba(0, 0, 255, 0.5) 100%
  );
  transition: background 1s;
  animation: backgroundShift 1s forwards;
}

@keyframes backgroundShift {
  to {
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.5) var(--new-black-percentage),
      rgba(0, 0, 255, 0.5) var(--new-black-percentage),
      rgba(0, 0, 255, 0.5) 100%
    );
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  height: 520px;
  background-color: green;
}

.cell {
  width: 65px;
  height: 65px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stone {
  border-radius: 50%;
  background-color: white;
  width: 55px;
  height: 55px;
}

.button {
  width: 200px;
  height: 60px;
  margin-top: 30px;
}

.counts {
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
}

.stonecount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blackcount {
  position: absolute;
  left: 50px;
  top: 50%;
  font-size: 100px;
  transform: translateY(-50%);
}

.whitecount {
  position: absolute;
  right: 50px;
  top: 50%;
  font-size: 100px;
  transform: translateY(-50%);
}

.homeButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #555;
}
